body {
background-repeat: no-repeat;
    text-align: center;
    background-img:url("new(1).jpg");
}

.navbar {
    background-color: #333333;
}

a {
    color: #f1f9f9;
}

a:hover {
    color: #f0f0f0;
  }
  .card-title{
  background-color: #ffe0cc;
  }
  .card-body{
  background-color:#c2c2a3}